#content a {
    font-size: 18px
}

.form-control {
    font-size: 18px;
    padding: 25px 10px
}

label {
    font-size: 20px;
    font-weight: normal
}

.form-horizontal .control-label {
    text-align: left
}

#nav #all-category {
    float: right
}

#new-form {
}

.form-action {
    margin: 50px 0;
    padding-top: 60px;
    border-top: 1px solid #ccc;
    text-align: center
}

.help-block {
    font-size: 18px
}

.radio, .checkbox {
    margin-left: 20px;
    display: inline-block;
    padding-right: 30px
}

.form-group {
    margin-bottom: 20px
}

#go-back {
    position: absolute
}

#new-property a {
    background-color: #2ecc71;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 50px 8px 50px;
    border-radius: 5px;
    border-bottom: 3px solid #239a55
}

#new-property a:hover {
    background-color: #28b363
}

#new-property a:active {
}

.asteriskField {
    color:red;
    /*display: none*/
}

#editor {
    font-size: 18px
}

.input-group-addon {
    font-size: 18px;
    margin: 5px 0 10px 0
}

.alert {
    font-size: 18px
}

.slider.slider-horizontal {
    width: 100%;
    margin-top: 8px
}

.rangeLabel {
    display: none
}

@media screen and (max-width: 480px) {
    #nav #all-category {
        float: none
    }

    #go-back {
        display: none
    }

    .form-horizontal .form-group {
        margin-right: 0;
        margin-left: 0
    }

    .slider.slider-horizontal {
        width: 90%
    }

    .rangeLabel {
        display: inherit
    }
}
